QDRANT_URL=https://your-cluster-id.us-east-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key_here


OPENAI_API_KEY=sk-your_openai_api_key_here

# Opsional: override default model
LLM_MODEL=gpt-4o-mini
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
QDRANT_COLLECTION_NAME=xxxx
